<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fb.exam.common.dao.SpeyearsMapper" >
  <resultMap id="BaseResultMap" type="com.fb.exam.common.vo.Speyears" >
    <id column="speyears_id" property="speyearsId" jdbcType="INTEGER" />
    <result column="speyears_name" property="speyearsName" jdbcType="VARCHAR" />
    <result column="speyears_years" property="speyearsYears" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    speyears_id, speyears_name, speyears_years
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.fb.exam.common.vo.SpeyearsExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from t_sch_speyears
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="begin != null and length != null" >
      limit #{begin} , #{length}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_sch_speyears
    where speyears_id = #{speyearsId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_sch_speyears
    where speyears_id = #{speyearsId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.fb.exam.common.vo.SpeyearsExample" >
    delete from t_sch_speyears
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.fb.exam.common.vo.Speyears" >
    insert into t_sch_speyears (speyears_id, speyears_name, speyears_years
      )
    values (#{speyearsId,jdbcType=INTEGER}, #{speyearsName,jdbcType=VARCHAR}, #{speyearsYears,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.fb.exam.common.vo.Speyears" >
    insert into t_sch_speyears
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="speyearsId != null" >
        speyears_id,
      </if>
      <if test="speyearsName != null" >
        speyears_name,
      </if>
      <if test="speyearsYears != null" >
        speyears_years,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="speyearsId != null" >
        #{speyearsId,jdbcType=INTEGER},
      </if>
      <if test="speyearsName != null" >
        #{speyearsName,jdbcType=VARCHAR},
      </if>
      <if test="speyearsYears != null" >
        #{speyearsYears,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.fb.exam.common.vo.SpeyearsExample" resultType="java.lang.Integer" >
    select count(*) from t_sch_speyears
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update t_sch_speyears
    <set >
      <if test="record.speyearsId != null" >
        speyears_id = #{record.speyearsId,jdbcType=INTEGER},
      </if>
      <if test="record.speyearsName != null" >
        speyears_name = #{record.speyearsName,jdbcType=VARCHAR},
      </if>
      <if test="record.speyearsYears != null" >
        speyears_years = #{record.speyearsYears,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update t_sch_speyears
    set speyears_id = #{record.speyearsId,jdbcType=INTEGER},
      speyears_name = #{record.speyearsName,jdbcType=VARCHAR},
      speyears_years = #{record.speyearsYears,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.fb.exam.common.vo.Speyears" >
    update t_sch_speyears
    <set >
      <if test="speyearsName != null" >
        speyears_name = #{speyearsName,jdbcType=VARCHAR},
      </if>
      <if test="speyearsYears != null" >
        speyears_years = #{speyearsYears,jdbcType=INTEGER},
      </if>
    </set>
    where speyears_id = #{speyearsId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.fb.exam.common.vo.Speyears" >
    update t_sch_speyears
    set speyears_name = #{speyearsName,jdbcType=VARCHAR},
      speyears_years = #{speyearsYears,jdbcType=INTEGER}
    where speyears_id = #{speyearsId,jdbcType=INTEGER}
  </update>
</mapper>