<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fb.exam.common.dao.StudentMapper" >
  <resultMap id="BaseResultMap" type="com.fb.exam.common.vo.Student" >
    <id column="student_id" property="studentId" jdbcType="INTEGER" />
    <result column="class_id" property="classId" jdbcType="INTEGER" />
    <result column="student_num" property="studentNum" jdbcType="VARCHAR" />
    <result column="enter_year" property="enterYear" jdbcType="DATE" />
    <result column="origin" property="origin" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    student_id, class_id, student_num, enter_year, origin
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.fb.exam.common.vo.StudentExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from t_user_student
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="begin != null and length != null" >
      limit #{begin} , #{length}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_user_student
    where student_id = #{studentId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_user_student
    where student_id = #{studentId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.fb.exam.common.vo.StudentExample" >
    delete from t_user_student
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.fb.exam.common.vo.Student" >
    insert into t_user_student (student_id, class_id, student_num, 
      enter_year, origin)
    values (#{studentId,jdbcType=INTEGER}, #{classId,jdbcType=INTEGER}, #{studentNum,jdbcType=VARCHAR}, 
      #{enterYear,jdbcType=DATE}, #{origin,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.fb.exam.common.vo.Student" >
    insert into t_user_student
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="studentId != null" >
        student_id,
      </if>
      <if test="classId != null" >
        class_id,
      </if>
      <if test="studentNum != null" >
        student_num,
      </if>
      <if test="enterYear != null" >
        enter_year,
      </if>
      <if test="origin != null" >
        origin,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="studentId != null" >
        #{studentId,jdbcType=INTEGER},
      </if>
      <if test="classId != null" >
        #{classId,jdbcType=INTEGER},
      </if>
      <if test="studentNum != null" >
        #{studentNum,jdbcType=VARCHAR},
      </if>
      <if test="enterYear != null" >
        #{enterYear,jdbcType=DATE},
      </if>
      <if test="origin != null" >
        #{origin,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.fb.exam.common.vo.StudentExample" resultType="java.lang.Integer" >
    select count(*) from t_user_student
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update t_user_student
    <set >
      <if test="record.studentId != null" >
        student_id = #{record.studentId,jdbcType=INTEGER},
      </if>
      <if test="record.classId != null" >
        class_id = #{record.classId,jdbcType=INTEGER},
      </if>
      <if test="record.studentNum != null" >
        student_num = #{record.studentNum,jdbcType=VARCHAR},
      </if>
      <if test="record.enterYear != null" >
        enter_year = #{record.enterYear,jdbcType=DATE},
      </if>
      <if test="record.origin != null" >
        origin = #{record.origin,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update t_user_student
    set student_id = #{record.studentId,jdbcType=INTEGER},
      class_id = #{record.classId,jdbcType=INTEGER},
      student_num = #{record.studentNum,jdbcType=VARCHAR},
      enter_year = #{record.enterYear,jdbcType=DATE},
      origin = #{record.origin,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.fb.exam.common.vo.Student" >
    update t_user_student
    <set >
      <if test="classId != null" >
        class_id = #{classId,jdbcType=INTEGER},
      </if>
      <if test="studentNum != null" >
        student_num = #{studentNum,jdbcType=VARCHAR},
      </if>
      <if test="enterYear != null" >
        enter_year = #{enterYear,jdbcType=DATE},
      </if>
      <if test="origin != null" >
        origin = #{origin,jdbcType=VARCHAR},
      </if>
    </set>
    where student_id = #{studentId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.fb.exam.common.vo.Student" >
    update t_user_student
    set class_id = #{classId,jdbcType=INTEGER},
      student_num = #{studentNum,jdbcType=VARCHAR},
      enter_year = #{enterYear,jdbcType=DATE},
      origin = #{origin,jdbcType=VARCHAR}
    where student_id = #{studentId,jdbcType=INTEGER}
  </update>
</mapper>